/* Navbar */
.Navbar {
  background-color: #F7ECDE;
}

.navbar-brand {
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
}

/* Store details */
.store-card {
  margin-top: 2%;
}

.s-card-front {
  background-color: #FBF8F1;
  border-radius: 5px;
  height: 200px;
  text-align: left;
}

.store-img {
  float: left;
  height: 90%;
  margin: 1.5%;
  width: 45%;
}

.store-title {
  color: black;
  font-size: 1.5rem;
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
  padding-top: 2%;
}

.store-sub {
  color: grey;
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
}

.s-card-back {
  background-color: #FBF8F1;
  border-radius: 5px;
  height: 200px;
  text-align: center;
}

.s-card-text {
  color: #54BAB9;
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
  position: relative;
  top: 25%;
}

.s-card-text-sub {
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
  text-align: right;
  position: relative;
  top: 25%;
}

/* Menu */
.filter-menu {
  margin: 2% auto;
}

.filter {
  padding-left: 6%;
}

@media (max-width: 770px) {
  .filter {
    padding-left: 0;
  }

  .sort {
    display: inline-block;
  }

  .rating {
    display: inline-block;
  }

  .price {
    display: inline-block;
  }
}

.sort {
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 4%;
}

.sort-title {
  color: grey;
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
}

.rating {
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 4%;
  margin-top: 4%;
}

.rating-title {
  color: grey;
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
}

.price {
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 4%;
  margin-top: 4%;
}

.price-title {
  color: grey;
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
}

.menu-title {
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
}

.menu-item {
  background-color: #FBF8F1;
  border-radius: 8px;
  display: inline-block;
  margin: 2%;
  padding: 1%;
  width: 20%;
}

@media (max-width: 660px) {
  .menu-item {
    width: 40%;
  }
}

.menu-item-img {
  width: 100%;
}

.menu-item-name {
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
  margin-top: 2%;
}

.menu-item-sub {
  color: grey;
}
