/* Navbar */
.Navbar {
  background-color: #F7ECDE;
}

.navbar-brand {
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
}

/* Store details */
.store-card {
  margin-top: 2%;
}

.s-card-front {
  background-color: #FBF8F1;
  border-radius: 5px;
  height: 200px;
  text-align: left;
}

.store-img {
  float: left;
  height: 90%;
  margin: 1.5%;
  width: 45%;
}

.store-title {
  color: black;
  font-size: 1.5rem;
  font-family: 'Fredoka One', cursive;
  font-weight: normal;
  padding-top: 2%;
}

.store-sub {
  color: grey;
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
}

.s-card-back {
  background-color: #FBF8F1;
  border-radius: 5px;
  height: 200px;
  text-align: center;
}

.s-card-text {
  color: #54BAB9;
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
  position: relative;
  top: 25%;
}

.s-card-text-sub {
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
  text-align: right;
  position: relative;
  top: 25%;
}
